body {
  background-image: url(chuck-norris.v1.cropped.jpg);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  background-color: turquoise;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: 3.5rem;
  align-items: center;
  text-align: center;
}
.container {
  display: inline;
  border-radius: 1.5rem;
  text-align: center;
  align-items: center;
}
.box-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  background-color: hotpink;
  /*max-width: fit-content;*/
  align-items: center;
  text-align: center;
}
.numbers {
  color: black;
  font-family: "Courier New", Courier, monospace;
}
.btn {
  background-color: white;
  color: turquoise;
  margin: auto;
  border-radius: 3rem;
  opacity: 0.85;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
  font-weight: 700;
  align-items: center;
  text-align: center;
  width: 35%;
  transition: all 0.4s ease-in-out;
  border: solid wheat 0.3rem;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.2);
  text-shadow: black;
  cursor: pointer;
}
.quote-display {
  display: inline flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 1rem;
  border: solid wheat 0.3rem;
  background-color: black;
  height: 30%;
  align-items: center;
  margin-top: 7%;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  color: white;
  width: 50%;
  font-size: 1.3rem;
}
.quote {
  color: navajowhites;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
